/* Layout general */
.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 70vh;
    gap: 0;
    margin-top: 20px;
}
.hero {
    background-color: rgb(233, 13, 13);
    padding: 30px;
    height: 200px;
    display: flex;
    align-items: center;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between; /* título izquierda, logo derecha */
    align-items: center;
}

.logo {
    width: 200px; /* tamaño del logo */
    height: auto;
}
.titulo { font-size: 3.5rem; /* tamaño grande */
     font-weight: 900; /* más grueso */ 
     letter-spacing: 3px; /* separación tipo cartel */ 
     color: white; text-transform: uppercase; }

/* NAVBAR */ 
.navbar { background-color: #000; /* negro */
     padding: 15px 0; } 
     .navbar ul 
     { display: flex;
         justify-content: center; 
         list-style: none; gap: 40px; }
          .navbar a { color: #fff; /* blanco */ 
            text-decoration: none; font-size: 1.2rem; font-weight: 600;
             transition: color 0.3s ease; } .navbar a:hover { color: #d4af37; /* dorado */ }


/* Hero con video */
.hero-video {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.hero-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Oscurecer video */
.hero-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.7));
}

/* Texto sobre el video */
.hero-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 10px black;
}

/* login-box */
.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-box input {
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.login-box button {
    padding: 12px;
    background: #ffcc00;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.login-box button:hover {
    background: #e6b800;
}
